{
    "include": [
        "routes/**/*.js",
        "models/**/*.js",
        "app.js"
    ],
    "require": [
        "babel-register"
    ],
    "reporter": [
        "lcov",
        "text-summary"
    ],
    "sourceMap": false,
    "instrument": false,
    "check-coverage": true,
    "per-file": false,
    "lines": 60,
    "statements": 60,
    "functions": 20,
    "branches": 20
 }